<!-- /snippets/footer2.liquid -->
{% assign footer_menu_4 = settings.footer_menu_4%}
<div class="site-footer__copyright">
	<div class="grid--full">
		<div class="grid__item large--one-half medium--one-whole">
			<div class="menu_footer">
				<ul>
					{% for link in linklists[footer_menu_4].links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>	
			</div>

			<div class="copyright_text ">
						{{settings.copyright_content}}
			</div>
			
		</div>
		<div class=" grid__item large--one-half medium--one-whole">
		<div class="payment large--right">
			<h4>{{settings.footer_payment_title}}</h4>
			<div class="inner">
					{% for i in (1..7) %}
					{% capture _enable %}payment_enable_{{ i }}{% endcapture %}
					 {% capture _icon %}payment{{ i }}.png{% endcapture %}
					  {% capture url %}payment_url{{ i }}{% endcapture %}
					  {% assign enable = settings[_enable] %}
					  {% if enable %}
						<a class="i-payment" href="{{settings[url]}}" title="">{{ _icon | asset_url | img_tag }}</a>
						{% endif %}
					{% endfor %}
				</div>
		</div>
			
		</div>
	</div>	
</div>