<!-- /snippets/header.liquid -->

<div class="header-main clearfix">
        <div class="large--left">
          <div class="logo">
            {% if template == 'index' %}
              <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div> <!-- end logo -->
        </div>
        <div class="main-nav">
          <div class="inner main-menu clearfix">
            {% include 'nav-menu'%}
            <!-- //site-nav -->
            <div class=" nav-mobile large--hide medium--hide small--show">
              <div class="grid">
                <div class="grid__item one-half text-left">
                  <div class="site-nav--mobile">
                    <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                      <i class="zmdi zmdi-menu"></i>
                      <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                    </button>
                  </div>
                </div>
                <div class="grid__item one-half text-right">
                  <div class="site-nav--mobile">
                    <a href="/cart" class="site-nav__link {% if settings.ajax_cart_method == "drawer" %} js-drawer-open-right {% endif %}" aria-controls="CartDrawer" aria-expanded="false">
                      <span class="icon-fallback-text">
                          <i class="zmdi zmdi-mall"></i>
                        <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
</div>
