<!-- /templates/snippets/nav-menu-mobile.liquid -->

<ul class="mobile-nav">
  <li class="mobile-nav__item mobile-nav__search">
    {% include 'search-bar' %}
  </li>
    {% for link in linklists.main-menu.links %}         
                  {% assign hasMega = false %}
                  {% assign itemMega = 0 %}
                  {% assign link_title = link.title | downcase %}
                      {% for i in (1..6) %}
                      {% capture enable_megamenu_item %}enable_megamenu_item_{{ i }}{% endcapture %}
                      {% capture megamenu_title %}megamenu_{{ i }}_parent{% endcapture %}
                      {% assign megamenu_title = settings[megamenu_title] | strip | downcase %}
                        {% if settings[enable_megamenu_item] == true %}
                            {% if link_title == megamenu_title %}
                                {% assign hasMega = true %}
                                {% assign itemMega = i %}
                            {% endif %}
                          {% endif %}
                      {% endfor %}

          {% if hasMega %}

          {% include 'megamenu-items-mobile'%}

          {% elsif linklists[link.handle] == empty %}
            <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            </li>

          {% else %}
          
         <!-- Menu level 1 --> 
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
              <div class="mobile-nav__has-sublist">
                <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                <div class="mobile-nav__toggle">
                  <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                    <span class="icon icon-plus" aria-hidden="true"></span>
                    <span class="fallback-text">See More</span>
                  </button>
                  <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                    <span class="icon icon-minus" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                  </button>
                </div>
              </div>
           
            <!-- Menu level 2 -->

            <ul class=" mobile-nav__sublist {{ link.title | downcase | handleize }}">
           
              {% for l in linklists[link.handle].links %}
              <li{% if linklists[l.handle] != empty %} class=""{% endif %}><a href="{{ l.url }}">{{ l.title | escape }}</a>
                  {% if linklists[l.handle] != empty %}
                 <!-- Menu level 3 -->    
                  <ul>
                  
                     {% for child_l in linklists[l.handle].links %}
                     <li{% if linklists[child_l.handle] != empty %} class=""{% endif %}><a href="{{ child_l.url }}">{{ child_l.title | escape }}</a>
                    
                    {% if linklists[child_l.handle] != empty %}
                        <!-- Menu level 4 -->    
                        <ul class="">
                  
                           {% for child_child_l in linklists[child_l.handle].links %}
                           <li><a href="{{ child_child_l.url }}"  class="mobile-nav__link">{{ child_child_l.title | escape }}</a></li>                 
                           {% endfor %} 
               
                           </ul>
                          {% endif %}
                       
                    </li>                 
                     {% endfor %} 
               
                  </ul>
                  {% endif %}
              
              </li>
              {% endfor %}  
            
            </ul>
          
          </li>
          {% endif %}            
                                      
        {% endfor %}


</ul>