<!-- /templates/snippets/section-banner-3-col-2.liquid -->
<div class="custom-top ">
		 <div class="grid">	
		      <div class="grid__item large--one-third medium--one-third small--one-whole">
		        	<a href="{{settings.banner_3_image_1v2_url}}" class="{{settings.select_effect_bannerv2}} space-15-phone  " title="banner"><img src="{{ 'banner_3_image_1v2.jpg' | asset_url }}" alt="static"></a>
		      </div>
		       <div class="grid__item large--one-third medium--one-third  small--one-whole">
					<a href="{{settings.banner_3_image_2v2_url}}" class="{{settings.select_effect_bannerv2}} space-15-phone " title="banner"><img src="{{ 'banner_3_image_2v2.jpg' | asset_url }}" alt="static"></a>	
		      </div>
		       <div class="grid__item large--one-third medium--one-third small--one-whole">
		        <a href="{{settings.banner_3_image_3v2_url}}" class="{{settings.select_effect_bannerv2}} " title="banner"><img src="{{ 'banner_3_image_3v2.jpg' | asset_url }}" alt="static"></a>	
		      </div>
		 </div>		
</div>