<!-- /templates/snippets/section-banner-3-col.liquid -->
<div class="custom-top ">
		 <div class="grid">	
		      <div class="grid__item large--one-half medium--one-half small--one-whole">
		        	<a href="{{settings.banner_3_image_1_url}}" class="{{settings.select_effect_banner}} space-15-phone  " title="banner"> <span class="title-col">{{settings.title_banner_3_1}} <span class="count-col">{{settings.sub_title_banner_3_1}}</span></span><img src="{{ 'banner_3_image_1.png' | asset_url }}" alt=""></a>
		      </div>
		       <div class="grid__item large--one-quarter medium--one-quarter small--one-whole">
					<a href="{{settings.banner_3_image_2_url}}" class="{{settings.select_effect_banner}} space-15-phone " title="banner"><span class="title-col">{{settings.title_banner_3_2}} <span class="count-col">{{settings.sub_title_banner_3_2}}</span></span><img src="{{ 'banner_3_image_2.png' | asset_url }}" alt=""></a>	
		      </div>
		       <div class="grid__item large--one-quarter medium--one-quarter small--one-whole">
		        <a href="{{settings.banner_3_image_3_url}}" class="{{settings.select_effect_banner}}  space-30" title="banner"><span class="title-col">{{settings.title_banner_3_3_1}} <span class="count-col">{{settings.sub_title_banner_3_3_1}}</span></span><img src="{{ 'banner_3_image_3.png' | asset_url }}" alt=""></a>	
		        <a href="{{settings.banner_3_image_3_2_url}}" class="{{settings.select_effect_banner}}  " title="banner"><span class="title-col">{{settings.title_banner_3_3_2}} <span class="count-col">{{settings.sub_title_banner_3_3_2}}</span></span><img src="{{ 'banner_3_image_3_2.png' | asset_url }}" alt=""></a>	
		      </div>
		 </div>		
</div>