<!-- /templates/snippets/section-slider.liquid -->
<div class="section-slider-wraper">
	<div class="">
		<div class="slider-carousel owl-carousel owl-theme" id="slider-carousel" data-mobile="[479,1]" data-tabletsmall="[768,1]" data-desktopsmall="[979,1]" data-desktop="[1199,1]" data-pagination="true" data-navigation="true" data-autoPlay="{{settings.slide_carousel_autoplay}}" data-items="1">
			{% for i in (1..5) %}
			{% capture _enable %}slide_carousel_enable{{ i }}{% endcapture %}
			{% capture _image %}image_slider{{ i }}.jpg{% endcapture %}
			{% capture _txt1 %}text_slider{{ i }}_txt1{% endcapture %}
			{% capture _txt2 %}text_slider{{ i }}_txt2{% endcapture %}
			{% capture _txt3 %}text_slider{{ i }}_txt3{% endcapture %}
			{% capture _btn %}slider_btn{{ i }}{% endcapture %}
			{% capture _btn_url %}slider_url_btn{{ i }}{% endcapture %}
			{% capture _btn2 %}slider_btn{{ i }}_2{% endcapture %}
			{% capture _btn_url2 %}slider_url_btn{{ i }}_2{% endcapture %}
          	{% capture alignment %}text_alignment{{ i }}{% endcapture %}
          	{% capture effect %}slide_effect{{ i }}{% endcapture %}
			{% assign enable = settings[_enable] %}

			{% if enable %}
			<div class="slider_element">
				{{ _image | asset_url | img_tag }}
				<div class="slider-text text-{{settings[alignment]}} ">
					<div class="txt1 des wow {{settings[effect]}}" data-wow-duration="1s">{{settings[_txt1]}}</div>
					<div class="txt2 des wow {{settings[effect]}}" data-wow-duration="1s">{{settings[_txt2]}}</div>
					<div class="txt3 des wow  {{settings[effect]}}" data-wow-duration="1s">{{settings[_txt3]}}</div>
					<div class="slider-button  des wow  {{settings[effect]}}" data-wow-duration="5s"><a href="{{ settings[_btn_url] }}" class="btn btn--secondary">{{settings[_btn]}}</a></div>
					<div class="slider-button slider-button-right des wow  {{settings[effect]}}" data-wow-duration="5s"><a href="{{ settings[_btn_url2] }}" class="btn btn--secondary">{{settings[_btn2]}}</a></div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>	
</div>
