<!-- section-services -->
<div class="box-service">

<div class="grid--full text-center">
	<div class="grid__item large--one-third medium--one-third">
		<h5>{{settings.box1_title}}</h5>
		<p>{{settings.box1_des}}</p>
	</div>
	<div class="grid__item large--one-third medium--one-third">
		<h5>{{settings.box2_title}}</h5>
		<p>{{settings.box2_des}}</p>
	</div>
	<div class="grid__item large--one-third medium--one-third">
		<h5>{{settings.box3_title}}</h5>
		<p>{{settings.box3_des}}</p>
	</div>
</div>
</div>