<!-- /templates/snippets/section-banner-2-col-top.liquid -->
<div class="section-banner-2">
	<div class="custom-top">
			 <div class="grid">	
			      <div class="grid__item  large--two-quarters medium--two-quarters small--one-whole">
			        	<a href="{{settings.banner_2_image_1_url_0}}" class="{{settings.select_effect_banner_2_0}} space-20 " title="banner"><img src="{{ 'banner_2_image_1_0.jpg' | asset_url }}" alt=""></a>
			      </div>
			       <div class="grid__item large--two-quarters medium--two-quarters small--one-whole">
						<a href="{{settings.banner_2_image_2_url_0}}" class="{{settings.select_effect_banner_2_0}} space-20 " title="banner"><img src="{{ 'banner_2_image_2_0.jpg' | asset_url }}" alt=""></a>	
			      </div>
			 </div>		
	</div>
</div>