<div class="bo-sicolor">
        {% if settings.social_twitter_link != blank %}
            <a class="bo-social-twitter radius-x" href="{{ settings.social_twitter_link }}"  title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        {% if settings.social_facebook_link != blank %}
            <a class="bo-social-facebook radius-x" href="{{ settings.social_facebook_link }}" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
            <a  class="bo-social-pinterest radius-x " href="{{ settings.social_pinterest_link }}" title="Pinterest">
               <i class="fa fa-pinterest"></i>
            </a>
        {% endif %}
        {% if settings.social_google_plus_link != blank %}
            <a class="bo-social-google radius-x " href="{{ settings.social_google_plus_link }}" title="Google Plus">
               <i class="fa fa-google"></i>
            </a>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
            <a class="bo-social-instagram radius-x " href="{{ settings.social_instagram_link }}" title="Instagram">
               <i class="fa fa-instagram"></i>
            </a>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
            <a class="bo-social-tumblr radius-x " href="{{ settings.social_tumblr_link }}" title="Tumblr">
               <i class="fa fa-tumblr"></i>
            </a>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
            <a class="bo-social-youtube radius-x " href="{{ settings.social_youtube_link }}" title="YouTube">
              <i class="fa fa-youtube"></i>
            </a>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
            <a class="bo-social-vimeo radius-x " href="{{ settings.social_vimeo_link }}" title="Vimeo">
              <i class="fa fa-vimeo"></i>
            </a>
        {% endif %}
  </div>