<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>

  <!-- CSS ================================================== -->
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'material-design-iconic-font.css' | asset_url | stylesheet_tag }}
  {{ 'elements.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'linearicons.css' | asset_url | stylesheet_tag }}
  {{ 'material-icons.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}

 

  


   <!-- Slider -->
  {{ 'slider.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'bootstrap-custom.js' | asset_url | script_tag }}
  {{ 'plugins.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ 'jquery.jcarousellite.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}

  <!-- slider   -->
  {% if template contains 'index' %}
  {{ "jquery.themepunch.tools.min.js" | asset_url | script_tag }}
  {{ "jquery.themepunch.revolution.min.js" | asset_url | script_tag }}
  {{ "revolution.js" | asset_url | script_tag }}
  {% endif %}  

<script>
  window.ajax_cart = true;
  window.money_format = '{{shop.money_with_currency_format}}';
  window.shop_currency = '{{ shop.currency }}';
  window.show_multiple_currencies = true;
  window.loading_url = "{{ 'loader-2.gif' | asset_url}}";
  window.use_color_swatch = true;
  window.product_image_resize = true;
  window.enable_sidebar_multiple_choice = true;

  window.file_url = "{{''|file_url}}";
  window.asset_url = "{{''|asset_url}}";
  window.images_size = {
    is_crop: true,
    ratio_width : 1,
    ratio_height : 1,
  };
  window.inventory_text = {
    in_stock: "{{ 'products.product.in_stock' | t }}",
    many_in_stock: "{{ 'products.product.many_in_stock' | t }}",
    out_of_stock: "{{ 'products.product.out_of_stock' | t }}",
    add_to_cart: "{{ 'products.product.add_to_cart' | t }}",
    sold_out: "{{ 'products.product.sold_out' | t }}",
    unavailable: "{{ 'products.product.unavailable' | t }}"
  };

  window.sidebar_toggle = {
    show_sidebar_toggle: "{{ 'general.sidebar_toggle.show_sidebar_toggle' | t }}",
    hide_sidebar_toggle: "{{ 'general.sidebar_toggle.hide_sidebar_toggle' | t }}"
  };

</script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    {% include 'nav-menu-mobile'%}

    
    <!-- //mobile-nav -->
  </div>

  <div id="CartDrawer" class="drawer drawer--right">  <div class="overlay"></div>
    <div class="drawer--popup-container">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  </div>

  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header">
      <div class="wrapper">
          {% include 'topbar' %}
        {% include 'header' %}
        {% include 'menu' %}
      </div>
    </header> <!-- end header -->
    {% include 'section-notice'%} 

    <div class="breadcrumb-wrapper">
        <div class="wrapper">
        {% include 'breadcrumb' %}
        </div>
    </div>
    <main class="{% if template != 'index' %}wrapper {% endif %}main-content" >
      {% if template != 'index' %}
      
      {% endif %}
      {{ content_for_layout }}

    </main>
     {% include 'section-brand'%} 
   
    <!-- begin site-footer -->
    <footer class="site-footer0" >
      <div class="wrapper">
        {% include 'footer0' %}
      </div>
    </footer>
    <footer class="site-footer" >
      <div class="wrapper">
        {% include 'footer' %}
      </div>
    </footer>
    <footer class="site-footer2" >
      <div class="wrapper">
        {% include 'footer2' %}
      </div>
    </footer>
    <!-- //site-footer -->
  </div>
  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'wow.min.js' | asset_url | script_tag }}
  <script>
   new WOW().init();
  </script>


  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      var ajaxCartConfig = {
          cartContainer: '#CartContainer',
          addToCartSelector: 'button',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        };
      jQuery(function($) {
        ajaxCart.init(ajaxCartConfig);
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
           timber.RightDrawer.open();
      });
    </script>
  {% endif %}
{% include 'currencies' %}


  {{ 'quickview.js' | asset_url | script_tag }}
  {{ 'wish-list.js' | asset_url | script_tag }}
   {{ 'collection.js' | asset_url | script_tag }}

  {% include 'product-quick-view' %}
  {% include 'template-popup' %} 
  {% if settings.popup_newsletter_enable %}
    {% include 'popup-newsletter' %}
  {% endif %}
  {% include 'twitter-card' %}
   {% if settings.display_backtop%}
    <p id="back-top">
      <a href="#top" title="Scroll To Top">Scroll To Top</a>
    </p>
    {% endif %}
</body>
</html>
