<!-- /templates/404.liquid -->

<div class="page_error clearfix">
		<div class="image"></div>
		<div class="error_content">
			<h1>{{ 'general.404.title' | t }} <br>
				{{ 'general.404.title2' | t }}
			</h1>
			<p>{{ 'general.404.subtext_html' | t }}</p>

			
        </div>
        <div class="group-button">
        	<a href="/" itemprop="url" class="back-home">
	          {{ 'general.404.back-home' | t }}
	        </a>
	        <a href="/collections/all" itemprop="url" class="back-shop">
	          {{ 'general.404.back-shop' | t }}
	        </a>
        </div>
</div>
